{% extends 'auth/login.html' %} 

{% block title %} Imovie - User {% endblock title %} 

{% block content %}
    <div class="page-header">
         <!-- TODO 修改字體顏色 -->
        <h2> 更改密碼 </h2>
    </div>
    <form action="/api/v1/users/">
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="old_password" placeholder="請輸入舊密碼">
            <label for="floatingPassword">舊密碼</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="new_password" placeholder="請輸入新密碼">
            <label for="floatingPassword"> 新密碼</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="check_new_password" placeholder="請輸入新密碼">
            <label for="floatingPassword">確認新密碼</label>
        </div>

        <div class="rbtn">
            <button type="button" class="btn btn-info" id="change">更改密碼</button>
        </div>
    </form>
{% endblock content %}

{% block scripts %} 
    <script type="module" src="{{ url_for('static', filename = 'js/auth/change_password.js') }}"></script>


{% endblock scripts %}