<!--使用者登入頁面模板-->

{% extends 'base.html' %} 
{% import 'bootstrap/wtf.html' as wtf %} 

{% block head %} 
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/login.css') }}" rel="stylesheet">
{% endblock head %}

{% block title %} Imovies - Login {% endblock title %} 

{% block content %} 
        <div class="page-header">
            <h2> 登入 </h2>
        </div>
        <form action="form.html">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="請輸入信箱">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="請輸入密碼">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="rbtn">
                <button type="button" class="btn btn-info" id="login">登入</button>
            </div>
        </form>

        <div class="registration">
            <p>
                還沒有註冊嗎? <a href="{{ url_for('auth.registration') }}">點這裡註冊</a>
            </p>
        </div>

{% endblock content %}

{% block scripts %} 
    <script src="{{ url_for('static', filename = 'js/login.js') }}"></script>
{% endblock scripts %}
