<!-- 首頁 -->

{% extends 'basic/base.html' %}

{% block title %} Imovies-Home {% endblock title %}

{% block head %} 
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/hot_movies.css') }}"  rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/index.css') }}"  rel="stylesheet">
{% endblock head %}

{% block content %} 
    <div class="page-header">
        <h2>Imovies</h2>
    </div>
    <div class="page-items">

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- first slide -->
                <div class="carousel-item active">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <!-- first movie -->
                        <div class="col">
                            <div class="card text-white bg-secondary mb-3" style="width: 18rem;" id="card-1">
                                <img src="https://m.media-amazon.com/images/M/MV5BNGVjNWI4ZGUtNzE0MS00YTJmLWE0ZDctN2ZiYTk2YmI3NTYyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_QL75_UX190_CR0,0,190,281_.jpg" class="card-img-top img-thumbnail" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <!-- second movie-->
                        <div class="col">
                            <div class="card text-white bg-secondary mb-3" style="width: 18rem;" id="card-2">
                                <img src="https://m.media-amazon.com/images/M/MV5BMTk4ODQzNDY3Ml5BMl5BanBnXkFtZTcwODA0NTM4Nw@@._V1_QL75_UX190_CR0,0,190,281_.jpg" class="card-img-top img-thumbnail" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <!-- third movie -->
                        <div class="col">
                            <div class="card text-white bg-secondary mb-3" style="width: 18rem;" id="card-3">
                                <img src="https://m.media-amazon.com/images/M/MV5BNjRmNDI5MjMtMmFhZi00YzcwLWI4ZGItMGI2MjI0N2Q3YmIwXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_QL75_UX190_CR0,0,190,281_.jpg" class="card-img-top img-thumbnail" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- second slide -->
                <div class="carousel-item">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <!-- first movie -->
                        <div class="col">
                            <div class="card text-white bg-secondary mb-3" style="width: 18rem;" id="card-4">
                                <img src="https://m.media-amazon.com/images/M/MV5BODA4ODk3OTEzMF5BMl5BanBnXkFtZTgwMTQ2ODMwMzE@._V1_QL75_UX190_CR0,2,190,281_.jpg" class="card-img-top img-thumbnail" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <!-- second movie -->
                        <div class="col">
                            <div class="card text-white bg-secondary mb-3" style="width: 18rem;" id="card-5">
                                <img src="https://m.media-amazon.com/images/M/MV5BNmI1ODdjODctMDlmMC00ZWViLWI5MzYtYzRhNDdjYmM3MzFjXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_QL75_UY281_CR3,0,190,281_.jpg" class="card-img-top img-thumbnail" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <!-- third movie -->
                        <div class="col">
                            <div class="card text-white bg-secondary mb-3" style="width: 18rem;" id="card-6">
                                <img src="https://m.media-amazon.com/images/M/MV5BMTg5YWIyMWUtZDY5My00Zjc1LTljOTctYmI0MWRmY2M2NmRkXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_QL75_UY281_CR0,0,190,281_.jpg" class="card-img-top img-thumbnail" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
                <!-- third slide -->
                <div class="carousel-item">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <!-- first movie -->
                        <div class="col">
                            <div class="card text-white bg-secondary mb-3" style="width: 18rem;" id="card-7">
                                <img src="https://m.media-amazon.com/images/M/MV5BNmVmYzcwNzMtMWM1NS00MWIyLThlMDEtYzUwZDgzODE1NmE2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_QL75_UX190_CR0,4,190,281_.jpg" class="card-img-top img-thumbnail" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <!-- second movie -->
                        <div class="col">
                            <div class="card text-white bg-secondary mb-3" style="width: 18rem;" id="card-8">
                                <img src="https://m.media-amazon.com/images/M/MV5BZThiZjAzZjgtNDU3MC00YThhLThjYWUtZGRkYjc2ZWZlOTVjXkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_QL75_UX190_CR0,2,190,281_.jpg" class="card-img-top img-thumbnail" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <!-- third movie -->
                        <div class="col">
                            <div class="card text-white bg-secondary mb-3" style="width: 18rem;" id="card-9">
                                <img src="https://m.media-amazon.com/images/M/MV5BMTU0NTU5NTAyMl5BMl5BanBnXkFtZTYwNzYwMDg2._V1_QL75_UY281_CR1,0,190,281_.jpg" class="card-img-top img-thumbnail" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>         
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
{% endblock %}

{% block scripts %} 
    <script type="module" src="{{ url_for('static', filename = 'js/main/index.js') }}"></script>
{% endblock scripts %}