.wrap {
    width: 1200px;
    margin: auto;
}
table {
    margin: auto;
    border: 0;
    border-collapse: separate;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    padding: 20px 2px;
    border-spacing:0px 10px;
    font-size: 17px;
    font-family: 'Noto Sans TC', sans-serif;
    
}

table a {
    text-decoration: none;
    color: rgb(237, 242, 244);
}

table a:hover {
    color: wheat;
}

table tbody tr:hover {
    background-color: rgb(52, 58, 64);
}

table tbody tr .number {
    width: 5%;
}

table tbody tr .movie-img {
    width: 20%;
}

table tbody tr .movie-title {
    width: 25%;
}

table tbody tr .movie-type{
    width: 20%;
}

table tbody tr .movie-rate{
    width: 15%;
}

table tbody tr .add-btn {
    width: 15%;
}

.page {
    width: 960px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.add-btn button  {

    background-color: rgb(43, 48, 53);
    border: none;
}

.add-btn button:hover{
    background-color: rgb(52, 58, 64);
}