.wrap {
    width: 1200px;
    margin: auto;
}
table {
    margin: auto;
    border: 0;
    border-collapse: separate;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    padding: 20px 2px;
    border-spacing:0px 10px;
    font-size: 17px;
    font-family: 'Noto Sans TC', sans-serif;
    
}

table tbody tr:hover {
    background-color: rgb(154, 156, 156);
}

table tbody tr .movie_title {
    width: 20%;
}



table tbody tr .movie_image {
    width: 20%;
}



table tbody tr .movie_rate {
    width: 15%;
}

table tbody tr a {
    text-align: center;
}

table tbody tr .movie_type {
    width: 20%;
}


#add_movie_btn {

    text-align: center;
    color: aquamarine;
    background-color: bisque;
    border-radius: 50%;

}