.page-items {
    margin: 30px auto;
    width: 960px;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

#card-1 > .card-body > a{
    float: right
}

#card-4 > .card-body > a{
    float: right
}

#card-7 > .card-body > a{
    float: right
}