.wrap {
    max-width: 960px;
    margin: auto;
}

.form_content {
    margin-top: 10px;
    padding: 10px;
}

.page-header {
    margin-top: 10px;
    margin-bottom: 20px;
}

.rbtn {
    margin-top: 10px;
}
