body {
    color: black;
}

.wrap {
    max-width: 960px;
    margin: auto;
}

.page-header {
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(173, 181, 189);
}

.rbtn {
    margin-top: 10px;
}

.registration {
    margin-top: 10px;
}

.registration a {
    text-decoration: none;
}

.registration p {
    color: rgb(173, 181, 189);
}