.wrap {
    max-width: 960px;
    margin: auto;
}

.page-header {
    margin-top: 10px;
    margin-bottom: 20px;
}

.rbtn {
    margin-top: 10px;
}

.registration {
    margin-top: 10px;
}

.registration a {
    text-decoration: none;
}