.bord {
    width: 100%;
    height: 500px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    /* padding: 50px; */
    margin-top: 50px;
    position: relative;
}

.movie-items {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    height: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 37, 41);
    padding: 30px;
    /* border-radius: 30px; */
    font-family:Arial, Helvetica, sans-serif ;
    color: rgb(242, 242, 242);
}

.items {
    margin-left: 20px;
}

.IMDB {
    float: right;

}

.IMDB_btn {
   
    border-radius: 10px;
    background-color: rgb(245, 197, 24);
}

.IMDB a{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;

}



.movie-desc{
    width: 750px;
    margin: auto;
    margin-top: 20px;
    color: rgb(242, 242, 242);
}

.accordion > .accordion-item {
    background-color: rgb(125, 133, 141);
    border-bottom: rgb(165, 165, 165) 3px solid;
}

.accordion > .accordion-item:last-child {
    margin-bottom: 50px;
}

.accordion-header > .accordion-button {
    background-color: rgb(108, 117, 125);
    color: whitesmoke;
}

/* TODO 調整按鈕位置 */
.add-btn {
    display: inline-block;
    
}

.add-btn button  {

    background-color: rgb(33, 37, 41);
    border: none;
}

.add-btn button:hover{
    background-color: rgb(52, 58, 64);
}