<!-- 熱門電影頁面 -->

{% extends 'basic/base.html' %} 

{% block head %} 
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/hot_movies.css') }}" rel="stylesheet">
{% endblock head %}


{% block content %}
    {% block page_header %}
        <div class="page-header">
            <h2> {{ user.username }} 的電影清單</h2>
        </div>
    {% endblock page_header %}

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>名稱</th>
                    <th>分類</th>
                    <th>評分</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="movies_contain">
                
            </tbody>
        </table>

    </div>
{% endblock content%}

{% block scripts %} 
    <script type="module" src="{{ url_for('static', filename = 'js/user_movie/user_movie.js') }}"></script>
{% endblock scripts %}