{% extends 'base.html' %}

{% block head %} 
  {{ super() }}
  <link href="{{ url_for('static', filename = 'css/movie.css') }}" rel="stylesheet">
{% endblock head %}

{% block content %}
    <div class="page-header">

    </div>

    <div class="page">
        
        <div class="movie-items">
          <div class="movie-image">
            <img src="{{ movie.image }}">
          </div>
          <div class="items">
            <p>
              {{ movie.title }}
              {% if movie.og_title %}
              ({{ movie.og_title}})
              {% endif %}
            </p>
            <p>上映日期: {{ movie.year }}</p>
            <p>分級: {{ movie.grade }}</p>
            <p>評分: {{ movie.rate }}</p>
            <p>類型: {{ movie.genre }}</p>
            <p>演員: {{ movie.starts }}</p>
            <a href="https://www.imdb.com/title/{{ movie.imdb_id }}" target="_blank" class="IMDB">IMDB</a>
          </div>
        </div>

    </div>
{% endblock content %}